# Core utilities
Django==6.0.2
django-environ==0.12.1
django-mathfilters==1.0.0
gunicorn==25.1.0
psycopg==3.3.2
psycopg-pool==3.3.0
celery==5.6.2

# Labels and reports
Pillow==12.1.1
pytz==2025.2
reportlab==4.4.10
weasyprint==68.1

# Data sanitization
html-sanitizer==2.6.0

# Sending emails
mailjet-rest==1.5.1

# Tooling and demo instance setup
pycodestyle==2.14.0
Faker==40.4.0

# Payment processing
stripe==14.3.0
