{% extends "base.html" %}

{% block javascript %}
{% load static %}
<script src="{% static 'js/customer/payment_methods.js' %}"></script>
{% endblock %}

{% block content %}
{% load customer_filters %}
<div class="bg-body shadow rounded p-3" id="customerpaymentmethods">
    <div class="row bg-primary bg-gradient rounded mb-3">
        <h2 class="text-center text-white py-2">My Payment Methods</h2>
    </div>

    {% include "_messages.html" %}

    <div class="table-responsive mt-3">
        <table class="table table-hover table-bordered">
            <thead class="thead-dark align-top">
                <tr>
                    <th>Payment Method</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {% for method in payment_methods %}
                <tr>
                    <td class-"align-center">
                    {% if method.card.wallet %}
                        {{ method.card.wallet.type }}
                    {% endif %}
                    <i class="fs-3 {% get_card_logo method.card.brand %}"></i>
                    <span class="font-monospace">{% get_card_number method.card.brand method.card.last4 %}</span>

                    (Expires: {{ method.card.exp_month }}/{{ method.card.exp_year }})

                    {% if method.id == default_payment_method_id %}
                        <strong>(Default)</strong>
                    {% endif %}
                    </td>
                    <td></td>
                </tr>
                {% endfor %}
                <tr>
                    <td colspan="2" class="text-center" id="addpaymentmethod" style="cursor: pointer; user-select: none;">
                        <i class="fas fa-plus"></i> Add a payment method
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
