{% extends "_pdf.html" %}
{% block header %}
Invoice #{{ invoice.id|default_if_none:0|stringformat:"08d" }}
{% endblock %}
{% block content %}
{% load custom_filters %}
{% include "customer/_invoice.html" %}

<div id="main-content-container">
    <div id="totals-payment-container">
        {% if invoice.balance.tax_rate or invoice.balance.processing_fees %}
        <div class="spaced-layout">
            <h3>Subtotal</h3>
            <h3>${{ invoice.balance.subtotal|floatformat:2 }}</h3>
        </div>
        {% endif %}
        {% if invoice.balance.tax_rate %}
        <div class="spaced-layout">
            <h3>Tax ({{ invoice.balance.tax_rate|floatformat:2 }}%)</h3>
            <h3>${{ invoice.balance.tax|floatformat:2 }}</h3>
        </div>
        {% endif %}
        {% if invoice.balance.processing_fees %}
        <div class="spaced-layout">
            <h3>Processing Fees</h3>
            <p>${{ invoice.balance.processing_fees|floatformat:2 }}</p>
        </div>
        {% endif %}
        <div class="spaced-layout total-due">
            <h2>Total Due</h2>
            <h2>${{ invoice.balance.total|floatformat:2 }}</h2>
        </div>
        <div class="spaced-layout">
            <h3>Payment Method</h3>
            <p>
                {% card_brand_display invoice.payment_method.brand %}
                {{ invoice.payment_method.last4 }}
            </p>
        </div>
        <div class="spaced-layout">
            <h3>Status</h3>
            <p>{% invoice_state_display invoice.current_state %}</p>
        </div>
    </div>
</div>
{% endblock %}
