{% extends "base.html" %}
{% block content %}
<div class="bg-body shadow rounded p-3" id="checkoutpage">
    <div class="container mb-4">
        <div class="row bg-primary bg-gradient rounded mb-3">
            <h2 class="text-center text-white py-2">Check Out</h2>
        </div>
    </div>

    {% include "_messages.html" %}
    {% include "check_out/searchbox.html" %}

    {% include "check_out/table.html" %}
</div>

<script>
    window.queued_packages = new Set({{ package_ids|safe }});
</script>
{% endblock %}
