{% block content %}

<div class="table-responsive mt-3">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Customer</th>
                <th>Tracking Code</th>
                <th>Price</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            {% for pkg in packages %}
                <tr>
                    <td data-type="account">
                        <a href="/accounts/{{ pkg.account_id }}/packages">
                            {{ pkg.account }}
                        </a>
                    </td>
                    <td data-type="tracking_code">
                        <a href="/packages/{{ pkg.id }}">
                            {{ pkg.tracking_code }}
                        </a>
                    </td>
                    <td data-type="price">${{ pkg.price }}</td>
                    <td data-type="comments">{{ pkg.comments }}</td>
                </tr>
            {% endfor %}

            <tr class="visually-hidden">
                <td data-type="account"></td>
                <td data-type="tracking_code"></td>
                <td data-type="price"></td>
                <td data-type="comments"></td>
            </tr>
        </tbody>
    </table>
</div>

{% include "modals/check_out.html" %}
{% load static %}
<script src="{% static 'js/check_out.js' %}"></script>
{% endblock %}
