{% block content %}
{% if account %}
{% load static %}
<script src="{% static 'js/account.js' %}"></script>

<div class="container">
    <div class="row">
        <div class="col" id="descdisplay" style="display: flex; align-items: center;">
            <h2 id="accountdesc">{{ account.name }}</h2>
            <i class="fas fa-pencil"
               id="editaccountdesc"
               style="cursor: pointer;
                      margin-left: 10px;
                      font-size: 1em;"></i>
        </div>
        <div class="col d-none" id="descedit" style="display: flex; align-items: center;">
            <input class="form-control" id="accountdesceditbox"></input>
            <i class="fas fa-check-square"
               id="saveaccountdesc"
               data-account-id="{{ account.id }}"
               style="cursor: pointer;
                      margin-left: 10px;
                      font-size: 2em;
                      color: #28a745;"></i>
        </div>
        <div class="col text-end">
            <h4><strong>Balance:</strong> {{ account.hr_balance }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="position-relative mb-2">
            <textarea class="form-control" id="accountnotes" rows="2" placeholder="Enter notes here...">{{ account.comments|default:"" }}</textarea>
            <div id="savingnotes" class="d-none text-warning position-absolute bottom-0 end-0 me-3 p-2">
                <i class="fas fa-spinner fa-spin"></i>
            </div>
            <div id="donesavingnotes" class="text-success position-absolute bottom-0 end-0 me-3 p-2" style="display: none;">
                <i class="fas fa-check-circle"></i>
            </div>
        </div>
    </div>
    <div class="row bg-light">
        <nav class="nav nav-pills flex-column flex-sm-row">
          <a class="flex-sm-fill text-sm-center nav-link {% if view_type == "packages" %}active{% endif %}"
             href="/accounts/{{ account.id }}/packages"
             aria-current="page">Packages</a>
          <a class="flex-sm-fill text-sm-center nav-link {% if view_type == "ledger" %}active{% endif %}"
             href="/accounts/{{ account.id }}/ledger">Ledger</a>
          <a class="flex-sm-fill text-sm-center nav-link {% if view_type == "edit" %}active{% endif %}"
             href="/accounts/{{ account.id }}/edit">Edit</a>
        </nav>
    </div>
    <hr />
</div>
{% endif %}
{% endblock content %}
