{% block content %}
{% if account %}
<div class="container mb-4">
    <div class="row bg-primary bg-gradient rounded text-white py-2 mb-2">
        <div class="col">
            <h2 id="accountdesc">{{ account.name }}</h2>
        </div>
        <div class="col text-end">
            <h4><strong>Balance:</strong> {{ account.hr_balance }}</h4>
            <h6><strong>Parcel fees:</strong> {{ account.accountbalance.hr_regular_balance }} - <strong>Late fees:</strong> {{ account.accountbalance.hr_late_balance }}</h6>
        </div>
    </div>
    <div class="row">
        <div class="position-relative mb-2">
            <textarea class="form-control" data-id="{{ account.id }}" id="accountnotes" rows="2" placeholder="Enter notes here...">{{ account.comments|default:"" }}</textarea>
            <div id="savingnotes" class="d-none text-warning position-absolute bottom-0 end-0 me-3 p-2">
                <i class="fas fa-spinner fa-spin"></i>
            </div>
            <div id="donesavingnotes" class="text-success position-absolute bottom-0 end-0 me-3 p-2" style="display: none;">
                <i class="fas fa-check-circle"></i>
            </div>
        </div>
    </div>
    <div class="row mx-auto text-center align-items-center">
        <nav class="nav nav-pills flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link {% if view_type == "packages" %}active{% else %}bg-light{% endif %}"
               href="/accounts/{{ account.id }}/packages"
               aria-current="page">Parcels</a>
            <a class="flex-sm-fill text-sm-center nav-link {% if view_type == "ledger" %}active{% else %}bg-light{% endif %}"
               href="/accounts/{{ account.id }}/ledger">Charges</a>
            <a class="flex-sm-fill text-sm-center nav-link {% if view_type == "emails" %}active{% else %}bg-light{% endif %}"
               href="/accounts/{{ account.id }}/emails">Emails</a>
            <a class="flex-sm-fill text-sm-center nav-link {% if view_type == "edit" %}active{% else %}bg-light{% endif %}"
               href="/accounts/{{ account.id }}/edit">Edit</a>
        </nav>
    </div>
</div>
{% endif %}
{% endblock content %}
