{% extends "base.html" %}

{% block javascript %}
{% load static %}
<script src="{% static 'js/account.js' %}"></script>
{% endblock %}

{% block content %}

<div class="bg-body shadow rounded p-3">
    {% include "accounts/_accountbox.html" %}
    {% include "_messages.html" %}

    <div class="container d-flex align-items-center ml-2">
        <div class="form-check form-switch mr-2">
            <input class="form-check-input" type="checkbox" role="switch" id="billable" data-id="{{ account.id }}" 
                {% if account.billable %}checked{% endif %}></input>
            <label class="form-check-label ml-2" for="billable">Track individual charges for this account</label>
        </div>
        <div class="ms-2">
            <i id="savingiconbillable" class="fas fa-spinner fa-spin text-warning" style="display: none;"></i>
            <i id="successiconbillable" class="fas fa-check-circle text-success" style="display: none;"></i>
        </div>
    </div>

    {% if page_obj %}
    {% include "_paginate.html" %}

    <div class="table-responsive mt-3">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">User</th>
                    <th scope="col">Reference</th>
                    <th scope="col">Payment</th>
                    <th scope="col">Charge</th>
                    <th scope="col">Description</th>
                    <th scope="col">Timestamp</th>
                    <th scope="col">Late Fee?</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in page_obj %}
                    <tr>
                        <td>{{ entry.user__first_name }} {{ entry.user__last_name }}</td>
                        <td>
                            {% if entry.package__tracking_code %}
                            <a href="/packages/{{ entry.package_id }}">
                                {{ entry.package__tracking_code }}
                            </a>
                            {% elif entry.invoice__id %}
                            <a href="/invoice/{{ entry.invoice__id }}">
                                Invoice #{{ entry.invoice__id|stringformat:"08d" }}
                            </a>
                            {% endif %}
                        </td>
                        <td>${{ entry.credit }}</td>
                        <td>${{ entry.debit }}</td>
                        <td>{{ entry.description|default_if_none:"" }}</td>
                        <td class="timestamp" data-timestamp="{{ entry.timestamp.isoformat }}"></td>
                        <td>{% if entry.is_late %}Yes{% else %}No{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>

{% endblock %}
