{% extends "base.html" %}

{% block javascript %}
{% load static %}
<script src="{% static 'js/account.js' %}"></script>
{% endblock %}

{% block content %}

<div class="bg-body shadow rounded p-3">
    {% include "accounts/_accountbox.html" %}
    {% include "_messages.html" %}

    {% if page_obj %}
    {% include "_paginate.html" %}

    <div class="table-responsive mt-3">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">User</th>
                    <th scope="col">Reference</th>
                    <th scope="col">Payment</th>
                    <th scope="col">Charge</th>
                    <th scope="col">Description</th>
                    <th scope="col">Timestamp</th>
                    <th scope="col">Late Fee?</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in page_obj %}
                    <tr>
                        <td>{{ entry.user__first_name }} {{ entry.user__last_name }}</td>
                        <td>
                            {% if entry.package__tracking_code %}
                            <a href="/packages/{{ entry.package_id }}">
                                {{ entry.package__tracking_code }}
                            </a>
                            {% elif entry.invoice__id %}
                            <a href="/invoice/{{ entry.invoice__id }}">
                                Invoice #{{ entry.invoice__id|stringformat:"08d" }}
                            </a>
                            {% endif %}
                        </td>
                        <td>${{ entry.credit }}</td>
                        <td>${{ entry.debit }}</td>
                        <td>{{ entry.description|default_if_none:"" }}</td>
                        <td class="timestamp" data-timestamp="{{ entry.timestamp.isoformat }}"></td>
                        <td>{% if entry.is_late %}Yes{% else %}No{% endif %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>

{% endblock %}
