{% extends "base.html" %}
{% block content %}

{% include "_messages.html" %}

{% include "accounts/_accountbox.html" %}

{% if page_obj %}
<h4>Audit Log</h4>

{% include "accounts/_paginate.html" %}

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">User</th>
                <th scope="col">Tracking Code</th>
                <th scope="col">Payment</th>
                <th scope="col">Charge</th>
                <th scope="col">Description</th>
                <th scope="col">Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in page_obj %}
                <tr>
                    <td>{{ entry.user__first_name }} {{ entry.user__last_name }}</td>
                    <td>
                        <a href="/packages/{{ entry.package_id }}">
                            {{ entry.package__tracking_code }}
                        </a>
                    </td>
                    <td>${{ entry.credit }}</td>
                    <td>${{ entry.debit }}</td>
                    <td>{{ entry.description }}</td>
                    <td class="timestamp" data-timestamp="{{ ledger.timestamp.isoformat }}">
                        {{ entry.timestamp }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}
