{% extends "base.html" %}
{% block javascript %}
{% load static %}
<script src="{% static 'js/modals/email_contents.js' %}"></script>
<script src="{% static 'js/account.js' %}"></script>
{% endblock %}

{% block content %}

<div class="bg-body shadow rounded p-3">
    {% include "accounts/_accountbox.html" %}

    {% include "_messages.html" %}

    {% if page_obj %}
        <h4>Emails Sent (last 180 days)</h4>

        {% include "_paginate.html" %}
        {% include "_email_table.html" %}
    {% endif %}
</div>

{% endblock %}
