[Unit]
Description=Mike's Boxes Maintenance
After=postgresql@14-main.service
Before=gunicorn.service nginx.service

[Service]
WorkingDirectory=/var/www/mikes-boxes
EnvironmentFile=/etc/mikes-boxes.env
ExecStart=/var/www/mikes-boxes/env/bin/python3 manage.py age
User=www-data
Group=www-data
Restart=no

[Install]
WantedBy=multi-user.target
