{% extends "base.html" %}

{% block javascript %}
{% load static %}
<script src="{% static 'js/modals/new_acct.js' %}"></script>
<script src="{% static 'js/mgmt/accounts.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container bg-body shadow rounded p-3 col-md-10" id="accountmgmt">
    <div class="row bg-primary bg-gradient rounded mb-3">
        <h2 class="text-center text-white py-2">Accounts</h2>
    </div>

    {% include "_messages.html" %}

    <div class="d-flex justify-content-between">
        <div class="d-flex justify-content-beginning">
            <input class="form-control" id="accountquery" placeholder="Search accounts..." value="{{ query }}"></input>
            <button class="btn btn-primary ms-1" id="searchaccounts">Search</button>
        </div>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createNewCustomerModal">
            <i class="fas fa-plus"></i> Add
        </button>
    </div>

    {% include "_paginate.html" %}

    <div class="table-responsive mt-3">
        <table class="table table-bordered">
            <thead class="thead-dark align-top">
                <tr>
                    <th>Name</th>
                    <th>Balance</th>
                    <th>Phone Number<br />Mobile Number</th>
                    <th class="text-nowrap" style="width: 1%;"></th>
                </tr>
            </thead>
            <tbody id="accounts">
                {% for account in page_obj %}
                    <tr>
                        <td>
                            {{ account.name }}
                        </td>
                        <td>
                            {{ account.hr_balance }}
                        </td>
                        <td>
                            {{ account.phone_number|default:"" }}<br />
                            {{ account.mobile_number|default:"" }}
                        </td>
                        <td class="text-nowrap" style="width: 1%;">
                            <a role="button" class="btn btn-info" href="/accounts/{{ account.id }}/packages">
                                <i class="fa-solid fa-circle-info"></i>
                            </a>
                            <a role="button" class="btn btn-primary" href="/accounts/{{ account.id }}/edit">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include "modals/new_acct.html" %}
{% endblock %}
