{% extends "base.html" %}

{% block content %}
{% load static %}
<script src="{% static 'js/mgmt/carriers.js' %}"></script>

{% include "_messages.html" %}

<div class="container bg-body shadow rounded p-3 col-md-8">
    <div class="row bg-primary bg-gradient rounded mb-3">
        <h2 class="text-center text-white py-2">Edit Carriers</h2>
    </div>
    <div class="d-flex justify-content-end mb-3">
        <div class="me-2 align-self-center">
            <i id="savingicon" class="fas fa-spinner fa-spin text-warning" style="display: none;"></i>
            <i id="successicon" class="fas fa-check-circle text-success" style="display: none;"></i>
        </div>
        <button type="button" class="btn btn-success me-2" id="addcarrier">
            <i class="fas fa-plus"></i> Add
        </button>
        <button class="btn btn-primary" id="savecarriers">
            <i class="fas fa-save"></i> Save
        </button>
    </div>
    <div class="table-responsive mt-3">
        <table class="table table-bordered">
            <thead class="thead-dark align-top">
                <tr>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Website</th>
                    <th class="text-nowrap" style="width: 1%;"></th>
                </tr>
            </thead>
            <tbody id="carriers">
                {% for carrier in carriers %}
                    <tr data-id="{{ carrier.id }}">
                        <td data-type="name">
                            <span class="text">
                                {{ carrier.name }}
                            </span>
                            <input class="form-control name d-none" maxlength="32"></input>
                        </td>
                        <td data-type="phone_number">
                            <span class="text">
                                {{ carrier.phone_number }}
                            </span>
                            <input class="form-control phone_number d-none" maxlength="15"></input>
                        </td>
                        <td data-type="website">
                            <span class="text">
                                {{ carrier.website }}
                            </span>
                            <input class="form-control website d-none" maxlength="32"></input>
                        </td>
                        </td>
                        <td class="text-nowrap" style="width: 1%;">
                            <button class="btn btn-primary editrow">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button class="btn btn-success confirmrow d-none">
                                <i class="fas fa-check-square"></i>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
                <tr class="visually-hidden">
                    <td class="text-nowrap" data-type="name">
                        <span class="text d-none"></span>
                        <input class="form-control name is-invalid" maxlength="32"></input>
                    </td>
                    <td data-type="phone_number">
                        <span class="text d-none"></span>
                        <input class="form-control phone_number" maxlength="15"></input>
                    </td>
                    <td data-type="website">
                        <span class="text d-none"></span>
                        <input class="form-control website" maxlength="32"></input>
                    </td>
                    <td class="text-nowrap" style="width: 1%;">
                        <button class="btn btn-primary editrow d-none">
                            <i class="fas fa-edit"></i>
                        </button>
                        <button class="btn btn-success confirmrow" disabled>
                            <i class="fas fa-check-square"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
