{% extends "base.html" %}

{% block javascript %}
{% load static %}
<script src="{% static 'js/mgmt/charges.js' %}"></script>
{% endblock %}

{% block content %}
{% include "_messages.html" %}

<div class="container bg-body shadow rounded p-3 col-md-8" id="chargesmgmt">
    <div class="row bg-primary bg-gradient rounded mb-3">
        <h2 class="text-center text-white py-2">Configure Charges</h2>
    </div>
    <div class="d-flex justify-content-end mb-3">
        <div class="me-2 align-self-center">
            <i id="savingicon" class="fas fa-spinner fa-spin text-warning" style="display: none;"></i>
            <i id="successicon" class="fas fa-check-circle text-success" style="display: none;"></i>
        </div>
        <button class="btn btn-primary" id="savebtn">
            <i class="fas fa-save"></i> Save
        </button>
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-4">
                <div class="input-group d-flex align-items-center">
                    <div class="col-md-6">
                        <p class="fw-bold mb-0">Parcels become the property of the facility at:</p>
                    </div>
                    <div class="col-md-2">
                        <input type="number" id="endpoint" class="form-control" value="{{ endpoint }}">
                    </div>
                    <div class="col-md-1 input-group-append">
                        <span class="input-group-text">days</span>
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <h4 class="mb-2">Customer-Facing Charges</h4>
                <div class="d-flex justify-content-between">
                    <div class="me-3">
                        <div class="form-check form-switch d-flex align-items-center p-0">
                            <label class="form-check-label{% if not globalsettings.pass_on_fees %} fw-bold{% endif %}" for="stripefees">Take on Stripe fees</label>
                            <input class="form-check-input mx-2" type="checkbox" id="stripefees"
                                   {% if globalsettings.pass_on_fees %}checked{% endif %}>
                            <label class="form-check-label{% if globalsettings.pass_on_fees %} fw-bold{% endif %}" for="stripefees">Pass on Stripe fees</label>
                        </div>
                        <div class="text-center">
                            <small class="text-muted">(2.9% + $0.30)</small>
                        </div>
                    </div>
                    <div class="d-flex flex-column align-items-end">
                        <div class="form-check form-switch mb-2 d-flex align-items-center">
                            <input class="form-check-input" type="checkbox" id="enabletaxes">
                            <label class="form-check-label ms-2" for="enabletaxes">Collect taxes</label>
                        </div>
                        <div class="input-group w-50{% if not globalsettings.taxes %} d-none{% endif %}" id="taxrateinput">
                            <input type="text" class="form-control" id="taxrate" value="{{ globalsettings.tax_rate|default_if_none:"" }}"></input>
                            <span class="input-group-text" for="taxrate">%</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-4">
                <h4 class="mb-2">Automated Charges</h4>
                <p>Configure automated charges (equalling the price) when a checked-in package reaches a certain age:</p>
                <div id="charges-templates" class="col-md-4">
                    {% for rule in charge_rules %}
                        <div class="charge-template mb-3">
                            <div class="input-group">
                                <input type="number" id="days" class="form-control" placeholder="Enter the number of days" value="{{ rule.days }}">
                                <button class="btn btn-danger remove-charge-template" type="button"><i class="fas fa-minus"></i></button>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="charge-template mb-3 d-none">
                        <div class="input-group">
                            <input type="number" id="days" class="form-control" placeholder="Enter the number of days">
                            <button class="btn btn-danger remove-charge-template" type="button"><i class="fas fa-minus"></i></button>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-success" id="add-charge-template"><i class="fas fa-plus"></i> Add Charge Rule</button>
            </div>

            <div class="mb-4">
                <h4 class="mb-2">Specific Charges</h4>
                <p>Configure charges for specific package types:</p>
                <div id="custom-charges-templates" class="d-flex flex-wrap">
                    {% for rule in custom_charge_rules %}
                        <div class="custom-charge-template row mb-3">
                            <div class="col-md-3">
                                <select id="package_type" class="form-select">
                                    {% for type in package_types %}
                                        <option value="{{ type.id }}" {% if rule.package_type_id == type.id %}selected{% endif %}>
                                            {{ type.description }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2">
                                <input type="number" id="days" class="form-control" value="{{ rule.days }}" placeholder="days">
                            </div>
                            <div class="col-md-2">
                                <input type="number" id="price" class="form-control" value="{{ rule.price }}" placeholder="price">
                            </div>
                            <div class="col-md-3">
                                <select id="frequency" name="frequency" class="form-select">
                                    <option value="D" {% if rule.frequency == 'D' %}selected{% endif %}>day</option>
                                    <option value="W" {% if rule.frequency == 'W' %}selected{% endif %}>week</option>
                                    <option value="M" {% if rule.frequency == 'M' %}selected{% endif %}>month</option>
                                </select>
                            </div>
                            <div class="col-md-1">
                                <button class="btn btn-danger remove-custom-charge-template" type="button">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="custom-charge-template row mb-3 d-none template">
                        <div class="col-md-3">
                            <select id="package_type" class="form-select">
                                {% for type in package_types %}
                                    <option value="{{ type.id }}">{{ type.description }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-2">
                            <input type="number" id="days" class="form-control" placeholder="days">
                        </div>
                        <div class="col-md-2">
                            <input type="number" id="price" class="form-control" placeholder="price">
                        </div>
                        <div class="col-md-3">
                            <select id="frequency" class="form-select">
                                <option value="D">day</option>
                                <option value="W">week</option>
                                <option value="M">month</option>
                            </select>
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-danger remove-custom-charge-template" type="button">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <p>(If <i>package type</i> reaches <i>X days</i>, charge <i>price</i> every <i>frequency</i>)</p>
                <button type="button" class="btn btn-success" id="add-custom-charge-template"><i class="fas fa-plus"></i> Add Custom Rule</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
