{% extends "base.html" %}

{% block content %}
{% include "mgmt/_setup_banner.html" %}

{% load static %}
<!-- From: https://www.jsdelivr.com/package/npm/jodit -->
<script src="https://cdn.jsdelivr.net/npm/jodit@4.11.15/es2021/jodit.fat.min.js" integrity="sha256-XOx8YcTCLc+16zoWPslqThFsIuRWE8/rVO4Nsp7H3G8=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jodit@4.11.15/es2021/jodit.fat.min.css" integrity="sha256-gXiQe1vtPBjMOEY9cpsy0YrPtkdPJTa6z/HxD818QuU=" crossorigin="anonymous">

<div class="container bg-body shadow rounded p-3" id="emailtemplatemgmt">
    <div class="row bg-primary bg-gradient rounded mb-3">
        <h2 class="text-center text-white py-2">Configure Email Templates</h2>
    </div>

    {% include "_messages.html" %}

    <div class="row align-items-center mb-3">
        <div class="col-md-3">
            <h5>Select a template:</h5>
        </div>
        <div class="col-md-9 d-flex align-items-center">
            <select id="template-selector" class="form-select">
                {% for template in templates %}
                    <option value="{{ template.id }}">{{ template.name }}</option>
                {% endfor %}
            </select>
            <button id="add-btn" class="btn btn-success ms-2"
                    data-bs-toggle="modal" data-bs-target="#addTemplateModal"
                    data-bs-tooltip="yes" title="Create New Template">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-3">
            <label for="emailSubject" class="form-label">Email Subject:</label>
        </div>
        <div class="col-md-9">
            <input type="text"
                   class="form-control"
                   id="email_subject"
                   name="email_subject"
                   placeholder="Enter email subject here"
                   value="{{ subject }}">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <textarea name="content" id="content-editor">{{ initial_content }}</textarea>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <button id="save-btn" class="btn btn-primary">
                <i class="fas fa-save"></i> Save
            </button>
            <i id="savingicon" class="fas fa-spinner fa-spin text-warning" style="display: none;"></i>
            <i id="successicon" class="fas fa-check-circle text-success" style="display: none;"></i>
        </div>
    </div>
</div>

{% include "modals/new_email_template.html" %}

<script src="{% static 'js/mgmt/email_template.js' %}"></script>
{% endblock %}
