{% extends "base.html" %}

{% block content %}

<div class="container bg-body shadow rounded p-3" id="emailmgmt">
    {% include "mgmt/_emailbox.html" %}

    <div class="d-flex justify-content-end my-3">
        <div class="me-2 align-self-center">
            <i id="savingicon" class="fas fa-spinner fa-spin text-warning" style="display: none;"></i>
            <i id="successicon" class="fas fa-check-circle text-success" style="display: none;"></i>
        </div>
        <button class="btn btn-primary" id="saveconfig">
            <i class="fas fa-save"></i> Save
        </button>
    </div>
    <div class="row">
        <form>
            <div class="mb-3">
                <input class="form-check-input" type="checkbox" id="email-sending" {% if email_sending %}checked{% endif %}>
                <label for="email-sending" class="form-check-label fw-bold">Send Emails to Customers</label>
            </div>
            <div class="mb-3">
                <label for="sender-name" class="form-label fw-bold">Sender Name</label>
                <input type="text" class="form-control" id="sender-name" placeholder="Enter the sender's name" value="{{ email_settings.sender_name|default:'' }}">
            </div>
            <div class="mb-3">
                <label for="sender-email" class="form-label fw-bold">Sender Email</label>
                <input type="email" class="form-control" id="sender-email" placeholder="Enter the sender's email address" value="{{ email_settings.sender_email|default:'' }}">
            </div>
            <div class="mb-3">
                <label for="check-in-template" class="form-label fw-bold">Check-In Template</label>
                <select id="check-in-template" class="form-select">
                    <option value="">Select template</option>
                    {% for template in templates %}
                        <option value="{{ template.id }}" {% if email_settings and email_settings.check_in_template_id == template.id %}selected{% endif %}>{{ template.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div id="days-templates">
                <label class="form-label fw-bold">Notification Templates for Specific Days:</label>
                {% if email_settings and email_settings.notification_rules.all %}
                    {% for rule in email_settings.notification_rules.all %}
                        <div class="day-template mb-3">
                            <div class="input-group">
                                <input type="number" class="form-control" placeholder="Enter the number of days" value="{{ rule.days }}">
                                <select class="form-select">
                                    <option value="">Select template</option>
                                    {% for template in templates %}
                                        <option value="{{ template.id }}" {% if rule.template_id == template.id %}selected{% endif %}>{{ template.name }}</option>
                                    {% endfor %}
                                </select>
                                <button class="btn btn-danger remove-day-template" type="button"><i class="fas fa-minus"></i></button>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="day-template mb-3 d-none">
                    <div class="input-group">
                        <input type="number" class="form-control" placeholder="Enter the number of days">
                        <select class="form-select">
                            <option value="">Select template</option>
                            {% for template in templates %}
                                <option value="{{ template.id }}">{{ template.name }}</option>
                            {% endfor %}
                        </select>
                        <button class="btn btn-danger remove-day-template" type="button"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mb-3">
                <div class="me-2">
                    <button type="button" class="btn btn-success" id="add-day-template"><i class="fas fa-plus"></i> Add Notification Rule</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% load static %}
<script src="{% static 'js/mgmt/email.js' %}"></script>
{% endblock %}
