{% block content %}
<div class="container mt-3">
    <div class="row align-items-center">
        <div class="col-auto">
            <h6 class="mb-0">Scan Parcel:</h6>
        </div>
        <div class="col">
            <div class="position-relative">
                <input type="text" class="form-control" id="tracking_code" maxlength="30"
                       data-picklist-id="{{ picklist_id }}">
                <div id="savingicon" class="text-warning position-absolute bottom-0 end-0 me-1 p-2" style="display: none;">
                    <i class="fas fa-spinner fa-spin text-warning"></i>
                </div>
                <div id="successicon" class="text-success position-absolute bottom-0 end-0 me-1 p-2" style="display: none;">
                    <i id="successicon" class="fas fa-check-circle text-success"></i>
                </div>
            </div>
        </div>
        <div class="col-auto">
            <button class="btn btn-primary"
                    data-bs-target="#checkOutModal"
                    data-bs-toggle="modal">
                Check Out All Packages
            </button>
        </div>
    </div>
</div>

<div class="table-responsive mt-3">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Customer</th>
                <th>Tracking Code</th>
                <th>Price</th>
                <th>Comments</th>
            </tr>
        </thead>
        <tbody>
            {% for pkg in packages %}
                <tr>
                    <td data-type="account">
                        <a href="/accounts/{{ pkg.account_id }}/packages">
                            {{ pkg.account }}
                        </a>
                    </td>
                    <td data-type="tracking_code">
                        <a href="/packages/{{ pkg.id }}">
                            {{ pkg.tracking_code }}
                        </a>
                    </td>
                    <td data-type="price">${{ pkg.price }}</td>
                    <td data-type="comments">{{ pkg.comments }}</td>
                </tr>
            {% endfor %}

            <tr class="visually-hidden">
                <td data-type="account"></td>
                <td data-type="tracking_code"></td>
                <td data-type="price"></td>
                <td data-type="comments"></td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    window.queued_packages = new Set({{ package_ids|safe }});
</script>
{% include "modals/check_out.html" %}
{% load static %}
<script src="{% static 'js/check_out.js' %}"></script>
{% endblock %}
