{% extends "base.html" %}

{% block content %}
{% include "_messages.html" %}

<style>
    .btn-verylarge {
        padding: 1rem 2rem;
        font-size: 1.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>

<div class="d-flex justify-content-center align-items-center">
    <a href="{% url 'account_mgmt' %}" role="button" class="btn btn-primary btn-lg btn-verylarge mx-2">
        <i class="fa-solid fa-user-group mb-3" style="font-size: 6rem;"></i>
        Accounts
    </a>
    <a href="{% url 'check_in' %}" role="button" class="btn btn-success btn-lg btn-verylarge mx-2">
        <i class="fa-solid fa-clipboard-check mb-3" style="font-size: 6rem;"></i>
        Get Started
    </a>
    <button class="btn btn-info btn-lg btn-verylarge mx-2">
        <i class="fa-solid fa-chart-simple mb-3" style="font-size: 6rem;"></i>
        Today at a Glance
    </button>
</div>

{% endblock content %}
