{% block content %}

{% load static %}
<script src="{% static 'js/modals/bulk_check_back_in.js' %}"></script>

<div class="modal fade" id="bulkCheckBackInModal" tabindex="-1" aria-labelledby="bulkCheckBackInModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bulkCheckBackInModalLabel">Check Packages Back In</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body container">
                Are you sure you would like to check these packages back in?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-primary" id="save_changes">Yes</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
