{% block content %}
<div class="container mb-2">
    <div class="row bg-primary bg-gradient rounded mb-3">
        <h2 class="text-center text-white py-2">{{ picklist_title }} Picklist</h2>
    </div>

    <div class="row mx-2 text-center align-items-center">
        <nav class="nav nav-pills flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link {% if view_type == "packages" %}active{% else %}bg-light{% endif %}"
               href="/picklists/{{ picklist_id }}/packages">Parcels</a>
            <a class="flex-sm-fill text-sm-center nav-link {% if view_type == "check_out" %}active{% else %}bg-light{% endif %}"
               href="/picklists/{{ picklist_id }}/checkout">Check Out</a>
        </nav>
    </div>
</div>
{% endblock %}
