{% extends "base.html" %}

{% block javascript %}
{% load static %}
<script src="{% static 'js/check_out.js' %}"></script>
{% endblock %}

{% block content %}
<div class="bg-body shadow rounded p-3" id="picklistcheckout">
    {% include "picklists/_picklistbox.html" %}

    <br />
    {% include "_messages.html" %}

    <div class="d-flex justify-content-end gap-2 mb-3">
        <button type="button" id="clearstagedbtn" class="btn btn-outline-danger"
                title="Clear staged packages without checking them out">
            Clear Staged
        </button>
        <button class="btn btn-primary"
                data-bs-target="#checkOutModal"
                data-bs-toggle="modal">
            Check Out All Packages
        </button>
    </div>

    {% include "check_out/table.html" %}
</div>

{% include "modals/check_out.html" %}
<script>
    window.queued_packages = new Set({{ package_ids|safe }});
</script>
{% endblock %}
