{% extends "base.html" %}
{% block javascript %}
<!-- We don't use jQuery UI for much else, so just include it directly in here -->
<link href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css" rel="stylesheet">
<script src="https://code.jquery.com/ui/1.13.3/jquery-ui.min.js"></script>

{% load static %}
<script src="{% static 'js/modals/picklist_mgmt.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container bg-body shadow rounded p-3 col-md-8 text-center" id="picklistlist">
    <div class="row bg-primary bg-gradient rounded mb-3">
        <h2 class="text-center text-white py-2">Picklists</h2>
    </div>

    {% include "_messages.html" %}

    <div class="row justify-content-end">
        <div class="col-auto">
            <button class="btn btn-primary"
                    id="newpicklist"
                    data-bs-toggle="modal"
                    data-bs-target="#picklistNewModal">
                <i class="fas fa-plus"></i> Add
            </button>
        </div>
    </div>

    <div class="row">
        <div class="table-responsive mt-3">
            <table class="table table-hover table-bordered align-middle">
                <thead class="thead-dark align-top">
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th style="width: 1%; white-space: nowrap;"># in Picklist</th>
                        <th style="width: 1%; white-space: nowrap;"># in Checkout Queue</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for picklist in picklists %}
                    <tr
                        data-id="{{ picklist.id }}"
                        class="{% if picklist.today %}table-success
                               {% elif picklist.past %}table-warning
                               {% endif %}">
                        <td style="width: 1%; white-space: nowrap;">
                            {% if picklist.past %}
                                <i class="fa-solid fa-triangle-exclamation"
                                   data-bs-tooltip="true" title="Will be removed automatically once empty"></i>
                                <br />
                            {% endif %}
                            {{ picklist.date|default:"" }}
                        </td>
                        <td>{{ picklist.description|default:"" }}</td>
                        <td id="count">{{ picklist.count }}</td>
                        <td id="queue_count">{{ picklist.queue_count }}</td>
                        <td style="width: 1%; white-space: nowrap;">
                            <a href="/picklists/{{ picklist.id }}/packages"
                               class="btn btn-primary"
                               role="button">
                                <i class="fa-solid fa-circle-info"></i>
                            </a>
                            <button type="button"
                                    class="btn btn-danger removebtn"
                                    data-bs-toggle="modal"
                                    data-bs-target="#removePicklistModal">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr class="visually-hidden">
                        <td style="width: 1%; white-space: nowrap;"></td>
                        <td></td>
                        <td id="count">0</td>
                        <td id="queue_count">0</td>
                        <td style="width: 1%; white-space: nowrap;">
                            <a class="btn btn-primary" role="button">
                                <i class="fa-solid fa-circle-info"></i>
                            </a>
                            <button type="button"
                                    class="btn btn-danger removebtn"
                                    data-bs-toggle="modal"
                                    data-bs-target="#removePicklistModal">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% include "modals/picklist_mgmt.html" %}
{% endblock %}
